node_modules
.DS_Store
dist
dist-ssr
*.local

node_modules
.env

# Hardhat files
cache
artifacts

coverage
coverage.json
typechain
typechain-types

# Local deployment files
src/artifacts/deployments.json

.eslintcache
.openzeppelin/*.json

.next
